@font-face{
    font-family: "Baloo";
    src: url("../fonts/Baloo.ttf")
}
@font-face{
    font-family: "MPLUSRounded";
    src: url("../fonts/MPLUSRounded.ttf")
}
body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#info_box{
    position: absolute;
    width:300px;
    height:150px;
    line-height: 33px;
    line-height: 1.3;
    bottom: -20px;
    transition: ease-in-out 100ms;
}
#player_and_map{
    position: absolute;
    left: 20px;
    top: 10px;
}
img{
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#player{
    position: relative;
    font-family: MPLUSRounded;
    font-size: 20pt;
    left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

#star_rating{
    font-size: 40pt;
    font-family: Baloo;
    color: lightblue;
}

#player_and_map span{
    display: block;
    white-space: nowrap;
    position: absolute;
    font-family: MPLUSrounded;
    color: lightblue;
    line-height: 1.3;
}
#textBox span {
    display: inline-block;
    font-size: 20pt;
    margin-left: 0;
}
#textBox{
    position: absolute;
    left: 120px;
    top: 0;
    margin-bottom: 0;
}
#difficulty{
    font-family: MPLUSRounded;
    font-size: 20pt;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    position: absolute;
    bottom: 15px;
    color: rgb(232, 249, 255);
}
#map_name{
    position: absolute;
    white-space: nowrap;
    display: block;
    font-family: MPLUSRounded;
    font-size: 20pt;
    color: lightcoral;
    bottom: 145px;
    left: -120px;

}
#mapper{
    position: absolute;
    white-space: nowrap;
    display: block;
    font-family: MPLUSRounded;
    font-size: 15pt;
    color: rgb(253, 179, 179);
    bottom: 120px;
    left: -120px;
}